*{
    padding: 0px;
    margin: 0px;
}
/*Body*/
body{
    text-align: center;
    background: gray;
    margin: 0px;
    padding: 0px;
}

.tamanho{
    max-width: 900px;
    background: rgb(221, 221, 221);
    margin: 0 auto;
    padding-top: 20px;
}
/*'Body'*/
/*Menu*/
.menu{
    background-color: #575757 ;
    color: white;
    position: relative;
    padding-left: 8px;
    margin-left: 5px;
    margin-right: 5px;
}
.menu ul{
    text-decoration: none;
    text-transform: uppercase;
    width: 900PX;
    height: 80px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    padding-top: 50px ;
    margin-bottom: 20px ;
    margin-top: -30px;
}
.menu ul li{
    position: relative;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    line-height: 0px;
    float: left;
    width: 120px;
    height: 20;
    font-size: 20px;
}
.menu ul li:hover{
    background-color: #7d7e81;
    display: block;
}
.menu ul ul{
    display: block;
}
.topico{
    text-decoration: none;
    color: white;
}

#ativa{ 
    font-weight: bold;
    color: rgb(255, 143, 143);
}
/*Rodapé*/
.footer{
    background-color: #575757;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-top: 26px;
    padding-bottom: 26px;
    height:auto;
}

.footer img {
    width: 6%;
}
/*Imagens*/
.content img {
    max-width: 890px;
    margin-top: 35px ;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 35px;
}

.A img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px rgb(1, 151, 211);
    position: relative;
    right: 300px;
    top: 100px;
}
.B img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px rgb(1, 151, 211);
    position: relative;
    left: 300px;
    top: 150px;
}

.C img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px rgb(1, 151, 211);
    position: relative;
    right: 300px;
    top: 200px;
}

.D img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
    border: solid 5px rgb(1, 151, 211);
    position: relative;
    right: 20px;
    bottom: 400px; 
}

.X img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px rgb(255, 230, 6);
    position: relative;
    right: 250px;
    bottom: 50px; 
}

.Y img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px rgb(146, 144, 144);
    position: relative;
    right: 250px;
    bottom: 50px; 
}

.Z img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: solid 5px rgb(155, 98, 60);
    position: relative;
    right: 250px;
    bottom: 50px; 
}

/*Texto Home*/
.content {
    position: relative;
    display: inline-block;
}

#france{
    width: 100px;
    height: 70px;
    border-radius: 5%;
    border: solid rgb(94, 94, 94);
    position: relative;
    bottom: 720px;
    left: 430px;
}

#australia{
    width: 100px;
    height: 70px;
    border-radius: 5%;
    border: solid rgb(94, 94, 94);
    position: relative;
    left: 317px;
    bottom: 480px;
}

#brazil{
    width: 100px;
    height: 70px;
    border-radius: 5%;
    border: solid rgb(94, 94, 94);
    position: relative;
    left: 205px;
    bottom: 240px;
}

.content p label{
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 140px;
    color: white;
}

#m {
    top: 30px;
    left: 30px;
}

#e {
    top: 150px;
}

#d {
    top: 270px;
    left: 45px;
}

#i {
    top: 390px;
    left: 65px;
}

#n {
    top: 510px;
    left: 40px;
}

#a {
    top: 630px;
    left: 40px;

}
/*Textos*/
#titulo {
    color: rgb(1, 151, 211);
}

#titulo1{
    font-size: 60px;
    color: rgb(1, 151, 211);
    left: 170px;
    top: -100px;
}

#titulo2{ 
    font-size: 30px;
    color: rgb(1, 151, 211);
    top: 0px;
    left: 0px;
} 

#V {
    color: green;
    font-weight: bold;
}

#P {
    color: red;
    font-weight: bold;
}

.text {
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 800px;
    text-align: justify;
    left: 110px;
    top:70px;
    font-size: 20px;
}

.competidor1 a{
    font-size: 30px;
}

.competidor1{
    padding-left: 200px;
    padding-bottom: 70px;
}

.text1 {
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    position: relative;
    text-align: justify;
    left: 50px;
    bottom: 800px;
    font-size: 20px;
}
.text1 b {
    font-size: 30px;
}

.text2 {
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    position: relative;
    text-align: justify;
    right: 60px;
    bottom: 580px;
    font-size: 20px;
}

.text2 b {
    font-size: 30px;
}

.text3 {
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    position: relative;
    text-align: justify;
    left: 50px;
    bottom: 320px;
    font-size: 20px;
}

.text3 b {
    font-size: 30px;
}

.text4 {
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    position: relative;
    text-align: justify;
    font-size: 20px;
    padding-bottom:500px;
    padding-top: 100px;
}

.text4 b {
    font-size: 30px;
    position: relative;
}

.text4 a {
     font-size: 25px;
}

.text5 {
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    position: relative;
    text-align: justify;
    font-size: 20px;
    top: 100px;
}

.text5 b {
    font-size: 30px;
    position: relative;
}

.text6 {
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    position: relative;
    text-align: justify;
    font-size: 40px;
    padding-bottom:20px;
    left: 400px;
}

#ouro {
    top: 150px;
    position: relative;
    right: 100px;
}

#prata {
    top: 390px;
    position: relative;
    right: 430px;
}

#bronze {
    top: 580px;
    position: relative;
    right: 100px;
}

#ouro b{
    color: rgb(206, 169, 2);
}

#prata b{
    color: rgb(122, 121, 121);
}

#bronze b{ 
    color: rgb(155, 98, 60);
}

/*Formulário*/
textarea {
    resize: none;
    width: 300px;
    height: 150px;
}

.text7{
    border: solid 5px rgb(1, 151, 211);
    border-radius: 7%; 
    padding: 15px;
    margin: 15px;
    background-color: whitesmoke;
    text-align: left;
    font-size: 20px;
    width: 500px;
    height: 600px;
    margin-top: 125px ;
    margin-bottom: 125px;
}

.text8{
    color: rgb(53, 49, 49);
    font-family: 'Times New Roman', Times, serif;
    width: 700px;
    position: relative;
    text-align: justify;
    font-size: 80px;
    padding-bottom:330px;
    padding-top: 330px;
    left: 0px;
}

#dados{
    width: 300px;
    height: 25px;
    border: solid 2px;
    border-radius: 15px;
}

#preencha {
    text-align: center;
    font-size: 30px;
    color: #2b2b2b;
}


/*RESPONSIVIDADE Next Hub Max +	*/
@media screen and (min-width:330px) and (max-width:480px){
    body, div{}
  #footer { margin-left:0px;}
  }
  @media screen and (min-width:768px) and (max-width:1024px){
    body, div{}
    #footer { margin-left:0px;}		
  }  

  @media screen and (min-width:820px) and (max-width:1190px){
    body, div{}
  #footer { margin-left:10px;}
  }
  
  @media screen and (min-width:1024px) and (max-height:1366px){
    #footer { margin-left:110px; margin-top: 10px;}		
  }	
  
  @media screen and (min-width:1280px) and (min-height:800px){
  #footer { margin-left:240px;}
  }